*{
  text-align: center;
  /* background-color: burlywood; */
}
label{
  color: red;
}
input{
  height: 30px;
  width: 40%;
  border: none;
  
}

.container{
  padding: 10px;
}
.form{
  margin: 72px 333px 51px 300px;
  background-color: blanchedalmond;
  padding: 20px;
}
.btn{
  padding: 10px;
  width: 7rem;
  cursor: pointer;
}
